html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {
  font-family: $primary-font;
  font-size: 1.6rem;
  line-height: 1.5;
}
p {
  color: $black;
  font-size: 2rem;
}

.container {
  width: 80%;
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $black;
}

i {
  padding: 2px;
}

li {
  list-style: none;
}

img,
picture {
  width: 100%;
  display: block;
}

h1,
h2,
h3 {
  font-family: $primary-font;
  margin: 1rem 0;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
}

.title {
  font-weight: bold;
  color: $green;
}

.selected {
  font-weight: $bold;
  color: #b24b8a;
}
