.section {
  margin-top: $space / 2;
  margin-bottom: $space / 2;
}
.content-center {
  max-width: 70rem;
}

.align-rigth {
  display: flex;
  justify-content: flex-end;
}

.align-left {
  display: flex;
  justify-content: flex-start;
}
