.about {
  @include tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

.about-content {
  margin-bottom: 4rem;
  text-align: center;
  font-size: 1.8px;
  img {
    height: 10rem;
  }
  h3 {
    text-transform: uppercase;
  }
}

.filter-green {
  filter: invert(51%) sepia(38%) saturate(3650%) hue-rotate(112deg)
    brightness(94%) contrast(102%);
}
