.no-webp .contact-section {
  background-image: url("/build/img/encuentra.jpg");
}

.webp .contact-section {
  background-image: url("/build/img/encuentra.webp");
}

.contact-section {
  background-position: center center; //centers the img in the center
  background-size: cover;
  padding: $space * 2 0;
}

.section-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  p,
  h2 {
    color: $white;
  }
}
