.footer {
  background: $green;
  padding: $space / 2 0;

  .footer-content {
    padding: $space / 2 0;
  }

  .footer-nav-content {
    color: $white;
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
    a {
      color: $white;
      text-decoration: none;
      font-size: 2rem;
      @include tablet {
        margin-right: 2rem;
        font-size: 1.8rem;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
  .copyright {
    color: $white;
    text-align: center;
  }
}
