//con el codigo de modernizer podemos tener las clases .no-webp y .webp

.no-webp .home {
  background-image: url("/build/img/header.jpg");
}

.webp .home {
  background-image: url("/build/img/header.webp");
  object-fit: fill;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background: $green;
  padding: 3rem 2rem;
  &.home {
    @include tablet {
      min-height: 70rem;
    }
    .header-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 60rem;
    }
  }
}

.header-title {
  color: $white;
  text-align: left;
  font-weight: $regular;
  font-size: 3rem;
  @include tablet {
    font-size: 4rem;
  }
}
