.nav {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    color: $white;
    font-size: 40px;
    font-weight: $bold;
  }
}

.nav-content {
  @include tablet {
    display: flex;
    align-items: center;
  }

  &.home-nav a {
    &:hover {
      color: $green;
    }
  }
  a {
    color: $white;
    text-decoration: none;
    font-size: 2rem;
    display: block;
    text-align: left;
    @include tablet {
      margin-right: 2rem;
      font-size: 1.8rem;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
