.property-container {
  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  @include desktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}

.property {
  background: $palewhite;
  align-items: center;
  margin-bottom: 2rem;
  @include tablet {
    margin-bottom: 0;
  }

  .property-content {
    padding: 2rem;
    text-align: center;
  }
  .description {
    font-size: 1.6rem;
  }
  .area {
    font-size: 1.5rem;
    color: $darkgrey;
  }
}

.property-icons {
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;
  img {
    width: 2rem;
  }
  li {
    width: 40px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    p {
      margin-bottom: 0;
    }
  }
}

.price {
  color: darken($green, 5);
}
