.house-details .property-icons {
  max-width: 50rem;
  margin: 2rem auto;
  align-self: left;
}

.table-container {
  margin: 3rem 0;
  &::before {
    content: "";
    width: 100%;
    height: 0.5rem;
    background: $green;
    display: block;
  }
}

table {
  padding: 1rem 0;
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  tbody tr {
    border-bottom: 1px solid rgb(173, 173, 173);
    &:last-of-type {
      border-bottom: none;
    }
  }
  th,
  td {
    padding: 1rem 0;
  }

  th {
    text-align: left;
  }
}
